* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {

    background-image: url(../imagenes/FondoFrancesco.png);
}

input[type=button]{
    background-color: #105aa5;
    border: none;
    color: aliceblue;
    padding: 10px 20px;
    font-size: 15px;
    margin: auto 50px;
    cursor: pointer;
}
.container {
    display: flex;
    height: 1500px;
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 4);
    margin: auto;
    background-color: white;
    background-size: cover;
    padding: 15px 30px;
}
.descri{
    font-size: 20px;
    padding: 30px;
}
.descri h2{
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Tahoma;
}
.menubar {
    position: center;
    height: 100%;
    width: 100%;
    display: block;
    background-color: #097ef6;
    box-shadow: 10px 4px 40px #003D8D inset;
}
nav{
    background-color: #097ef6;
    width: 100%;
}
nav ul{
    text-align: center;
}
nav ul li{
    display: inline-flex;
    
}
nav ul li a{
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px;
    width: 200px 250px;
    transition-property: all;
    transition-duration: 1600ms;
}
nav ul li a:hover {
    background-color: #66aaee;
    color: #ffffff;
    opacity: 0.9;
}
.barra{
    background-color: #5c6270;
    padding: 20px;
    width: 100%;
    margin: 10px auto;
    color: azure;
    text-align: center;
}
.barra2{
    background-color: #105aa5;
    padding: 20px;
    width: 100%;
    margin: 10px auto;
    color: azure;
    text-align: center;
}
.mande{
    font-size: 15px;
    padding: 10px 40px;
    border: 2px solid #105aa5;
}
.trabajos td img{
    margin: auto 30px;
}
h2{
    color: #003D8D;
    text-align: center;
}
p, .mande ul li{
    text-align: center;
    font-size: 20px;
}
section div iframe{
    margin: auto 160px;
}